:root{
 --color1: #191917;
 --color2: #58575A;
 --color3: #C99D58;
 --color4: #85A3AC;
 --color5: #F4F2F4;
}




*{
  user-select: none;
}



body {
  margin: 0;
  padding: 0;
  font-family: nunito;
  background-color: var(--color5);
  
 
   
}

html{
  
  height: 100%;

}

