:root{
 --color1: #191917;
 --color2: #58575A;
 --color3: #C99D58;
 --color4: #85A3AC;
 --color5: #F4F2F4;
 --shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}




*{
  user-select: none;
}

button:focus {outline:0;}

body {
  margin: 0;
  padding: 0;
  font-family: nunito;
  background-color: var(--color5);
  
 
   
}

html{
  
  height: 100%;

}

