

/* TABLEWRAPPER */

.storeviewtablewrapper{
    
    overflow: hidden;
    margin-left: 100px;
    background: var(--gradient1);
    margin-bottom: 20px;
    padding: 0px;
    box-shadow: var(--shadowstrong);
}

.storeviewtableheader{
    padding: 10px;
    background: var(--gradient1);
    color: white;
    
    border-bottom: 2px solid transparent;
    border-image: var(--gradient2);
    border-image-slice: 1;
    border-width: 2px;
    
}

.storeviewtableheader h2{
   font-family:Nanum Gothic; 
   font-size: 1.8rem;
   font-weight: 900;
   margin: 0px;
   
}



.storeviewtableinfo{
    padding: 10px;
    background: var(--gradient1);
    color: white;
    height: 40px;
    box-shadow: var(--shadowlight);
}

.storeviewtableinfo p{
    display: inline-block;
    color: var(--color4);
}

.storeviewtableinfocount{
 float:left;
}

.storeviewtableinfototal{
    float: right;
}
.storeviewtableinfo span{
    font-weight: 100;
}



/* ORDERWRAPPER */
.storeviewtableorderwrapper::-webkit-scrollbar{
    display: none;
    
}

.storeviewtableorderwrapper{
    overflow: scroll;
    max-height: 400px;
    padding-bottom: 20px;
    
}




/* STOREVIEWORDER */


.storevieworder{
    box-shadow: var(--shadowlight);
    /* background: var(--gradient1);
    color: var(--color5); */
    
    color: white;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
    padding: 10px;
    padding-top: 15px;
    height: 50px;
    
}

.storevieworder p{
    display: inline;
    
}

.storevieworderitemprice{
    float:right;
    margin-left: 20px;
}

.storevieworder:hover{
    
    box-shadow: var(--shadow);
    
}

.storevieworderstatusopen{
   border: 0px solid transparent;
    
}

.storevieworderstatusclosed{
    border-left: 20px solid rgba(79, 202, 79, 0.397);
    
}


#confirmpaymentbtn{
    background: transparent;
    font-size: 1.1rem;
    border: 1px solid lightcoral;
    border-radius: 5px;
    color: lightcoral;
    
    float: right;
    
}


#confirmpaymentbtn:hover{
    background: lightcoral;
    color: white;
}