.guestviewfooter{
    min-height: 20px;
    max-height: 100%;
    overflow: scroll;
    border-top: 2px solid var(--color3);
    background: var(--gradient5);
    color: white;
    position: fixed;
    bottom: 0;
    
}

.guestviewfooter::-webkit-scrollbar { 
    display: none; 
}

.guestvieworderedwrapper{
    overflow: scroll;
    max-height: 500px;
    padding-bottom: 20px;
}

.guestvieworderedwrapper::-webkit-scrollbar { 
    display: none; 
}



.footeramount{
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
    margin-left: 60%;
}

.footerbutton{
    display: inline-block;
    
}

.footerbutton button{
    
    background: var(--color3);
    border:none;
    font-weight: 500;
    font-size: 2rem;
    height:50px;
    width: 100px;
    margin-left: 50px;
}


.extendfooterbutton {
    float:left;
   

   
}

.extendfooterbutton button{
    height: 50px;
    width: 100px;
    font-size: 2rem;
    color: white;
    border: none;
    
    background:transparent;
}

/* FOOTER EXTENDED */


.footerextended{
    height: 500px;
    text-align: left;
}

.footerextended p{
    display: inline;
}




/* ITEMS Direct Order */

.guestordersmallwrapper{
    
    background: var(--gradient1);
    box-shadow: var(--shadowlight);
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    max-height: 50px;
    
}

.guestordersmallwrapper:hover{
    box-shadow: var(--shadowstrong);
    
}



.guestordersmallname{
    display: inline-block;
    font-weight: 800;
    
    
}

.guestordersmallprice{
    float:right;
      
    
}



.guestordersmallstatus{
    font-size: 1.2rem;
    font-weight: 700;
   
   
}

.guestordersmallstatusopen{
    color: lightblue;
}

.guestordersmallstatuspaid{
    color: lightcoral;
}

.guestordersmallstatusconfirmed{
    color: lightgreen;
}


/* ITEMS Cart */


.guestcartsmallwrapper{
    border: 2px solid black;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 10px;
    max-height: 50px;
    height: 50px;
}

.guestcartsmallwrapper:hover{
    background: black;
    border: 2px solid white;
    color: white;
}


.guestcartsmallremovebtn button{
    
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    
}


.guestcartsmallremovebtn button:hover{
    
    background: red;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    
}

.guestcartsmallremovebtn{
    float: left;
    
}


.guestcartsmallname{
    display: inline-block;
    font-weight: 800;
    
    max-width: 200px;
    margin-left: 20px;
    
}

.guestcartsmallprice{
    float: right;
    width: 100px;
    max-width: 100px;
    text-align: center;
}



/* SEND ORDER BUTTONS */


#sendcartorderbtn{
    margin-top: 20px;
    float: right;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#resetcartorderbtn{
      margin-top: 20px;
    float: left;
    background: transparent;
    color: white;
    border: none;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

#resetcartorderbtn:hover{
    
    color: lightcoral;
    border: 1px solid lightcoral;
}