.itemsmallwrapper{
    padding: 0px;
    background: white;
    margin-right: 40px;
    margin-bottom: 30px; 
    /* box-shadow: var(--shadow); */
    font-weight: bold;
    border-radius: 10px;
}

.itemsmallimage{
    overflow: hidden;
    height: 200px;
    width: 100%;
    object-fit: fill;
}

.itemsmallimage img{
    height: 200px;
    width: 100%;
}

.itemsmalltitle{
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 2rem;
}


.itemdescription{
    height: 150px;
    padding: 10px;
    padding-top: 0px;

}


.itemprice{
    text-align: right;

}

.price{
    background: white;
    color:var(--color1);
    padding: 15px;
}




.itembuttons{
    height: 50px;
}



.itemsmallbutton {
    background: var(--color3);
    border:none;
    border-radius: 50px;
    width: 40%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    float: right;
   
}

.itemsmallbutton:hover{
    background: black;
    color: white;
   
}


.itemcartbutton {
    float: left;
    background: var(--color1);
    border-radius: 50px;
    border:none;
    width: 40%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
   
}

.itemcartbutton:hover{
    background:var(--color3);
    color: white;
   
}